body {
  font-family: 'Montserrat', sans-serif;
}

#title, .navcolor {
  background-color: #729d39;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
#contenedor-top {
  padding: 3% 13%;
  padding-top: 89px;
}

.slogan {
  /* font-family: "Montserrat-Black"; */
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

/* nav bar */
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

#option {
  color: white;
}

#brand {
  color: white;
}

.logo {
  margin-right: 5px;
  border-color: white;
  border-style: solid;
  border-width: 4px;
}

#navbar-padding {
  padding: .5rem 13%;
}

.front-image {
  /* maybe */
  /* border-color: white;
  border-style: solid;
  border-width: 10px; */
  /* maybe */
  margin-top: 20px;
  width: 356px;
  height: 267px;
  border-radius: 4%;
}

.sesion-btn {
  margin: 5% 3% 5% 0;
}

/* **************************problematica******************************* */
.problem {
  margin-top: 10%;
  margin-bottom: 10%;
}

.problem-header {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;
  text-align: center;
}

.icon {
  color: #729d39;
  margin-bottom: 15px;
  margin-top: 20px;
}

.icon:hover {
  color: #a6cb12;
}

/* ***********************objetivos************************** */
#objetivos {
  text-align: center;
  background-color: #729d39;
  color: white;
  padding-bottom: 5%;
}

.obj-title {
  padding-top: 5%;
}

.carousel-item {
  padding: 7% 15%;
  height: 430px;
  line-height: 1.7;
}

/* ***********************instituciones************************** */
#instituciones {
  padding: 7% 15%;
  text-align: center;
}

.inst-logo {
  width: 175px;
  height: 70px;
  margin-left: 5%;
  margin-right: 5%;
}

.inst-logoschp {
  width: 160px;
}

/* ***********************footer************************** */
#footer {
  padding: 7% 15%;
  background-color: #729d39;
  color: white;
  text-align: center;
}

.link {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.link:hover {
  color: #a6cb12;
}

/* ***********************phone page************************** */
#phone {
  padding: 7% 15%;
  background-color: #729d39;
  color: white;
  text-align: center;
}

/* **************************CASO 1******************************* */

ul{
  padding-top: 5%;
  padding-left: 20%;
  padding-right:20%;
  padding-bottom: 5%;
  list-style-type: none;
}
#nav-hotfix{
  padding: auto;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}
.parametros{
  padding-left: 5%;
  padding-right:5%;

}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
